body {
    //background-color: rgba(0, 0, 0, 0.8);
    color: #999;
    font-family: Hevletica, sans-serif;
  }
  .gauges-container {
    display: flex;
  }
  /* ------ Default Style ---------- */
  mwl-gauge {
    width: 150px;
    height: 150px;
    display: block;
    padding: 10px;
  }
  mwl-gauge > .gauge > .dial {
    stroke: #666;
    stroke-width: 6;
    fill: rgba(0, 0, 0, 0);
  }
  mwl-gauge > .gauge > .value {
    //stroke: rgb(47, 227, 255);
    stroke:orange;
    stroke-width: 6;
    fill: rgba(0, 0, 0, 0);
  }
  mwl-gauge > .gauge > .value-text {
    //fill: rgb(47, 227, 255);
    fill:orangered;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1em;
  }