<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Efficiency Report</a></li>
    <li class="breadcrumb-item active" aria-current="page">Generate Report</li>
    
  </ol><hr />
  <li class="list-group-item"><strong>Instructions:</strong>Select from a Friday to another Friday, Select a bank to view data, Click on Search to generate report</li>
      
  

  
</nav>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        
      <form>
        <div class="row">
          <div class="col-md-3"><input type="date"name="dateFrom" required [(ngModel)]="Obj.dateFrom" required  class="form-control" /></div>
          <div class="col-md-3"><input type="date"name="dateTo" required [(ngModel)]="Obj.dateTo"  class="form-control" /></div>
          <div class="col-md-3">
            <select class="form-control" [(ngModel)]="Obj.sortCode" required name="bank">
              <option>Select Bank</option>
              <option *ngFor="let b of banks" [value]="b.bankCode">{{b.bankName}}</option>
            </select>
          
          </div>
          <div class="col-md-3"><input type="submit" (click)="GenerateReport(Obj)" class="btn btn-success" value="Search" /></div>
        <!--<div id="pdfTable" #pdfTable>
          This is me
        </div>-->
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-primary" (click)="convetToPDF()" *ngIf="displayReport">Export To PDF</button>
<div id="mypdf" #pdfTable>
  
<div class="row">
  <div class="col-md-12 grid-margin stretch-card 888">
    <div class="card" *ngIf="displayReport">
      <div class="card-title"></div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="table-responsive">
              
<div class="row">
  <table class="table table-bordered table-striped">

      <!--<tr>
          <td class="col-md-1z" valign="middle"></td>-->
          <!--<td class="col-md-11z text-center" colspan="3"  valign="middle" style="white-space: nowrap;">
            <img src="../../../../../assets/images/logoipsl - Copy.png"  />&nbsp;&nbsp;<br />
              <h4><strong>INTEGRATED PAYMENT SERVICES LIMITED</strong></h4>

          </td>
      </tr>
      <tr>
      </tr>-->

      <tr><td class="col-md-11z text-center"  valign="middle" colspan="3" style="background-color: #4DCAC4 !important;color: black !important; width: 5px !important;padding-top: 20px !important;font-weight: 900 !important;"><h6><strong>BANK EFFICIENCY RATING ON PESALINK</strong></h6><!--<h6> </h6>--></td></tr>
      <tr><td class="col-md-11z text-center" valign="middle" colspan="3" style="background-color: #fff !important;color: #FF5733 !important;"><h6><strong>Analysis for {{ReportLabel}}</strong></h6><!--<h6> </h6>--></td></tr>

      <tr><td class="text-center"  valign="middle" colspan="3" style="background-color: #66A6F3 !important; color:black !important; width:5px !important;padding-top:20px !important;font-weight:900 !important;"><strong><h6><strong>BANK:{{BankName}} </strong></h6></strong></td><!--<td align="left"><strong></strong></td>--></tr>
  </table>

</div>
<a class="list-group-item active" style="margin-bottom:10px !important;margin-top: 10px !important;"><strong>TRANSACTION FAILURE INWARDS</strong> </a>
<div class="row">
  <div class="col-md-4" *ngFor="let r of Inflow">
    <small><strong>({{r.RESPONSE_CODE}}) -  {{r.DEFINITION | uppercase}}</strong></small>
    <div class="row">
      <div class="col-sm-6">
        <table class="table">
          <tr><td>BANK</td><td>{{r.PCTEFF}}%</td></tr>
          
          <tr><td>BANK RATING</td><td>{{r.WEEKLYRANK}}</td></tr>
        </table>
        
      </div>
      <div class="col-sm-6 text-right" >
        
        <!--<ngx-gauge [value]="r.PCTEFF" [thresholds]="thresholdConfig">
          <ngx-gauge-append>
             %
          </ngx-gauge-append>
          <ngx-gauge-label>
            {{r.RESPONSE_CODE}}
          </ngx-gauge-label>
          <ngx-gauge-prepend>
            
          </ngx-gauge-prepend>
          <ngx-gauge-value>
            {{r.PCTEFF}}
          </ngx-gauge-value>
          <ngx-guage-size>
            40
          </ngx-guage-size>
          <ngx-guage-type>
            arch
          </ngx-guage-type>
          <ngx-guage-backgroundColor>
            darkcyan
                      </ngx-guage-backgroundColor>
                      <ngx-guage-foregroundColor>
                        blue
                      </ngx-guage-foregroundColor>
      </ngx-gauge>-->
      <mwl-gauge
      [max]="100"
      [class]="gauge"
      [dialClass]="gauge"
      [dialStartAngle]="-90"
      [dialEndAngle]="-90.001"
      [value]="r.PCTEFF"
      [label]="percentageValue"
      [animated]="false"
      [animationDuration]="1"
    >
    </mwl-gauge>
      </div>
    </div>
  </div>
</div>



<a class="list-group-item active" style="margin-bottom:10px !important"><strong>TRANSACTION FAILURE OUTWARDS</strong> </a>
<div class="row">
  <div class="col-md-4" *ngFor="let rr of Outflow">
    <small><strong>({{rr.RESPONSE_CODE}}) -  {{rr.DEFINITION | uppercase}}</strong></small>
    <div class="row">
      <div class="col-sm-6">
        <table class="table">
          <tr><td>BANK</td><td>{{rr.PCTEFF}}%</td></tr>
          
          <tr><td>BANK RATING</td><td>{{rr.WEEKLYRANK}}</td></tr>
        </table>
        
      </div>
      <div class="col-sm-6 text-right">
       <!-- <ngx-gauge [value]="rr.PCTEFF" [thresholds]="thresholdConfig">
          <ngx-gauge-append>
             %
          </ngx-gauge-append>
          <ngx-gauge-label>
            {{rr.RESPONSE_CODE}}
          </ngx-gauge-label>
          <ngx-gauge-prepend>
            
          </ngx-gauge-prepend>
          <ngx-gauge-value>
            {{rr.PCTEFF}}
          </ngx-gauge-value>
          <ngx-guage-size>
            40
          </ngx-guage-size>
          <ngx-guage-type>
            arch
          </ngx-guage-type>
          <ngx-guage-backgroundColor>
darkcyan
          </ngx-guage-backgroundColor>
          <ngx-guage-foregroundColor>
            blue
          </ngx-guage-foregroundColor>
      </ngx-gauge>-->
      <mwl-gauge
      [max]="100"
      [class]="gauge"
      [dialClass]="gauge"
      [dialStartAngle]="-90"
      [dialEndAngle]="-90.001"
      [value]="rr.PCTEFF"
      [animated]="true"
      [label]="percentageValue"
      [animationDuration]="1"
    >
    </mwl-gauge>
    </div>
    </div>
  </div>
</div>

<a class="list-group-item active" style="margin-bottom:10px !important"><strong>NETWORK CONNECTIVITY</strong></a>
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <strong>LINK UPTIME: </strong>
                                                <p>This shows the average network uptime within period under review </p>



                                            </div>
                                            <div class="col-lg-2">
                                              <!--<ngx-gauge [value]="LinkUptime" [thresholds]="thresholdConfig2">
                                                <ngx-gauge-append>
                                                   %
                                                </ngx-gauge-append>
                                                <ngx-gauge-label>
                                                  Link Availability
                                                </ngx-gauge-label>
                                                <ngx-gauge-prepend>
                                                  
                                                </ngx-gauge-prepend>
                                                <ngx-gauge-value>
                                                  {{LinkUptime}}
                                                </ngx-gauge-value>
                                                <ngx-guage-size>
                                                  40
                                                </ngx-guage-size>
                                                <ngx-guage-type>
                                                  arch
                                                </ngx-guage-type>
                                                <ngx-guage-cap>
                                                  butt
                                                </ngx-guage-cap>
                                            </ngx-gauge>-->
                                            <mwl-gauge
      [max]="100"
      [class]="gauge"
      [dialClass]="gauge"
      [dialStartAngle]="-90"
      [dialEndAngle]="-90.001"
      [value]="LinkUptime"
      [label]="percentageValue"
      [animated]="true"
      [animationDuration]="1"
    >
    </mwl-gauge>
                                            </div>
                                            <div class="col-lg-6">
                                                <table class="table table-striped">
                                                    <tr><td><strong>BANK</strong></td><td><strong>{{LinkUptime}}</strong></td></tr>
                                                    <tr><td><strong>BANK RATING</strong></td><td><strong></strong></td></tr>
                                                </table>
                                            </div>
                                        </div>
<div class="table-responsive">
              <table class="table table-striped" id="watermark"  style="border-color: black !important;font-size:small !important; margin-top: 10px !important;" width="80%" >

                  <tr style="border:none !important">
                      <td colspan="3" style="border:none !important"></td>
                      <th class="text-right" colspan="3"  style="border:none !important;background-color:#4DCAC4 !important; color:black !important;">

                          
                          <div class="text-center">Analysis for {{ReportLabel}}</div>

                      </th>
                      <th style="border:none !important;">&nbsp;&nbsp;</th>
                      <th class="text-right" colspan="2"  style="border: none !important;background-color: #FF5733 !important;color: black !important;">

                          
                            <div class="text-center">Analysis for {{previousweek}}</div>

                      </th>
                  </tr>


                  <tr>
                      <td style="width:40px !important;"></td>
                      <th class="col-sm-1z" style="padding-left:5px !important;">OPERATIONAL PLATFORMS</th>
                      <th class="col-sm-10z" style="padding-left:5px !important;">MEASURES</th>
                      <th class="col-sm-1 text-center" style="background-color: #c9e9f6 !important; padding:5px !important;" ></th>
                      <th class="col-sm-1 text-center" style="background-color: #c9e9f6 !important; padding: 5px !important;"></th>
                      <th class="col-sm-1 text-center" style="background-color: #c9e9f6 !important; padding: 5px !important;"></th>
                      <th style="border: none !important;">&nbsp;&nbsp;</th>
                      <th class="col-sm-1z text-center" style="background-color: #ffc0cb  !important;padding: 5px !important;"></th>
                      <th class="col-sm-1z text-center" style="background-color: #ffc0cb  !important;padding: 5px !important;" ></th>
                      <!--<th class="col-sm-1z" style="background-color: #FFC0CB !important; padding: 5px !important;" align="center">BEST BANK RATING</th>-->
                  </tr>
                  <tr>
                      <td class="col-sm-1z" style="padding-left:5px !important;"><strong>1.)</strong></td>
                      <td style="padding-left:5px !important;"><strong>PESALINK</strong></td>
                      <td style="padding-left:5px !important;"><strong>1. Trans. Failure</strong></td>
                      <td style="background-color: #c9e9f6 !important;"><strong>BANK'S RATING</strong></td>
                      <td style="background-color: #c9e9f6 !important;"><strong>RANKING</strong></td>
                      <td style="background-color: #c9e9f6 !important;"><strong>BEST BANK RATING</strong></td>
                      <td style="border: none !important;"></td>
                      <td style="background-color: #ffc0cb  !important;"><strong>BANK'S RATING</strong></td>
                      <td style="background-color: #ffc0cb  !important;"><strong>RANKING</strong></td>
                      <!--<td style="background-color: #FFC0CB !important;"></td>-->
                  </tr>
                  <tr>
                    <td></td>
                    <td colspan="5" style="padding-left:5px !important; border:none !important;background-color:white !important; color:black !important;"><strong>INWARD</strong></td>
                  </tr>
                  <tr *ngFor="let i of Inflow; let ii=index;">
                      <td></td>
                      <td class="text-right" style="padding-left:5px !important;" >{{ii+1}}</td>
                      <td style="white-space: nowrap; padding-left:5px !important"><i><strong>({{i.RESPONSE_CODE}}) - {{i.DEFINITION}}</strong></i></td>
                      <td style="background-color: #c9e9f6 !important; padding-left:10px !important;"><strong>{{i.PCTEFF}}%</strong></td>
                      <td style="background-color: #c9e9f6 !important; padding-left:10px !important;"><strong>{{i.WEEKLYRANK}}</strong></td>
                      <td style="background-color: #c9e9f6 !important; padding-left:10px !important;"><strong>{{i.PCTEFF_BEST}}%</strong></td>
                      <td style="border: none !important;">&nbsp;&nbsp;</td>
                      <td style="background-color: #ffc0cb  !important; padding-left:10px !important;"><strong>{{i.PCTEFF_BEST_L}}%</strong></td>
                      <td style="background-color: #ffc0cb  !important; padding-left:10px !important"><strong>{{i.LastWeekRank}}</strong></td>
                      <!--<td style="background-color: #FFC0CB !important; padding-left:10px !important;"><strong>%</strong></td>-->
                  </tr>
                  <tr>
                    <td></td><td colspan="5" style="padding-left:5px !important;border:none !important;background-color:white !important; color:black !important;"><strong>OUTWARD</strong></td>
                  </tr>
                  <tr *ngFor="let o of Outflow; let oo=index;">
                    <td></td>
                    <td class="text-right" style="padding-left:5px !important;"><strong>{{oo+1}}</strong></td>
                    <td style="white-space: nowrap; padding-left:5px !important"><i><strong>({{o.RESPONSE_CODE}}) - {{o.DEFINITION}} </strong></i></td>
                    <td style="background-color: #c9e9f6 !important; padding-left:10px !important;"><strong>{{o.PCTEFF}}%</strong></td>
                    <td style="background-color: #c9e9f6 !important; padding-left:10px !important;"><strong>{{o.WEEKLYRANK}}</strong></td>
                    <td style="background-color: #c9e9f6 !important; padding-left:10px !important;"><strong>{{o.PCTEFF_BEST}}%</strong></td>
                    <td style="border: none !important;">&nbsp;&nbsp;</td>
                    <td style="background-color: #ffc0cb  !important; padding-left:10px !important;"><strong>{{o.PCTEFF_BEST_L}}%</strong></td>
                    <td style="background-color: #ffc0cb  !important; padding-left:10px !important"><strong>{{o.LastWeekRank}}</strong></td>
                    <!--<td style="background-color: #FFC0CB !important; padding-left:10px !important;"><strong>%</strong></td>-->
                </tr>

                 
                 


              </table>
              </div>
              </div>
              <a class="list-group-item active" style="background-color: #66A6F3 !important;color: black !important;border: none !important;padding-left: 5px !important;margin-top:5px !important;"><strong>METRICS BREAKDOWN for {{ReportLabel}}</strong></a>

                                        <table class="table table-striped" style="font-size:13px !important">
                                            <tr style="background-color: #c9e9f6 !important;padding-left: 5px !important"><td style="padding-left:5px !important;"><strong>Measures</strong></td><td style="padding-left:5px !important"><strong>Overall Bank's Performance</strong></td><td style="padding-left:5px !important"><strong>Benchmark</strong></td><td style="padding-left:5px !important;"><strong>Meet Requirement</strong></td></tr>
                                            <tr style="background-color: #ffc0cb  !important;padding-left: 5px !important"><td style="padding-left:5px !important;"><strong>Transaction Success Rate</strong></td><td style="padding-left:5px !important;"><strong>{{aggregatetrans | number : '1.2-2'}}%</strong></td><td style="padding-left:5px !important;"><strong>90%</strong></td><td style="padding-left:5px !important;"><strong><span *ngIf="aggregatetrans >= 90">Yes</span><span *ngIf="aggregatetrans < 90">No</span></strong></td></tr>
                                            <tr style="background-color: #ffc0cb  !important;padding-left: 5px !important"><td style="padding-left:5px !important;"><strong>Transaction Failure Rate</strong></td><td style="padding-left:5px !important;"><strong>{{100-aggregatetrans | number : '1.2-2'}}%</strong></td><td style="padding-left:5px !important;"><strong>10%</strong></td><td style="padding-left:5px !important;"><strong><span *ngIf="100-aggregatetrans <= 10">Yes</span><span *ngIf="100-aggregatetrans > 10">No</span></strong></td></tr>
                                            <tr style="background-color: #c9e9f6 !important;padding-left:5px !important"><td style="padding-left:5px !important;"><strong>Network Uptime</strong></td><td style="padding-left:5px !important;"><strong>{{LinkUptime}}</strong></td><td style="padding-left:5px !important;"><strong>90%</strong></td><td style="padding-left:5px !important;"><strong><span *ngIf="LinkUptime >=90">Yes</span><span *ngIf="LinkUptime < 90">No</span></strong></td></tr>
                                            <tr style="background-color: #ffc0cb  !important;padding-left:5px !important"><td style="padding-left:5px !important;"><strong>Aggregated Rating</strong></td><td style="padding-left:5px !important;"><strong>{{aggregatetrans*0.6+LinkUptime/100*40 | number : '1.2-2'}}%</strong></td><td style="padding-left:5px !important;"><strong>90%</strong></td><td style="padding-left:5px !important;"><strong><span *ngIf="aggregatetrans*0.6+LinkUptime/100*40 >=90">Yes</span><span *ngIf="aggregatetrans*0.6+LinkUptime/100*40 < 90">No</span></strong></tr>
                                            <!--<tr style="background-color: #c9e9f6 !important;padding-left:5px !important"><td style="padding-left:5px !important;"><strong>Bank Rank</strong></td><td style="padding-left:5px !important;"><strong></strong></td><td></td><td></td></tr>-->


                                        </table>
          </div>

      </div>
    </div>
  </div>
</div>
</div>
</div>

<div *ngIf="blackout" class="text-center" style="position:fixed;  top:0; left:0; bottom:0; right:0;background:rgba(0,0,0,.5);margin: auto">
  <h3>Loading...</h3>
</div>