

<!--<div class="row">
  <div class="col-md-12 grid-margin stretch-card" style="padding-left: 0px !important;">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-10"> <h4 class="card-title">Dashboard</h4><a (click)="openFullscreen()" title="Full Screen"> <i data-feather="airplay" appFeatherIcon></i> </a></div>
          <div class="col-lg-2 text-right"><input type="text" class="form-control" placeholder="Search Bank" (keyup)="SearchDashboard($event)" /></div>
        </div>
        
        
        
      </div>
    </div>
  </div>
</div>-->
<div class="row" style="background-color: #ffff; padding:5px; margin-top: 0px !important;">
  <div class="col-lg-10"><a (click)="openFullscreen()" alt="Full Screen Mode" title="Full Screen" style="color: black;"> <i data-feather="airplay" appFeatherIcon></i>Full Screen Mode</a> | <strong>Showing Data for: {{displaytime}}</strong></div>
    <div class="col-lg-2 text-right"><input type="text" class="form-control" placeholder="Search Bank" (keyup)="SearchDashboard($event)" /></div>
</div>

<div class="row table-responsive" #fullScreen  style="margin-top: 10px !important; background-color: white;"> 
  <ul class="bbx" style="padding-left: 0px !important;" >
  <!--<div class="col-6 col-md-6 col-xl-6">-->
    <div class="card shadow rounded" style="border: 2px solid; border-color: darkgray;overflow: hidden; ">
      <div class="card-body" style="margin-top: 0px !important; padding: 2px !important;margin-bottom:0px !important;">
        <div class="row">
          <div class="col-lg-3 text-start" align="left"><img src="../../../../../assets/images/logoipsl2.png" height="40" width="40" class="rounded-circle image z-depth-2 border"  /></div>
          <div class="col-lg-9">
            <div class="row">
              <div class="col-md-12 text-center" ><strong>INDUSTRY</strong></div>
            </div>
            <div class="row" style="padding:5px !important" >
             
              
               <div class="col-md-6 blockss" style="margin-right: -20px !important;">               
                
                <div class="align-items-end">
                <small>                 
                 <div class="text-center" style="padding: 5px; width: 40px;  color: black;"><p class="text-start" style="color: darkcyan;"><strong>IN</strong></p></div>
                 <div class="circless text-center" style="border: 1px solid; padding: 5px; width: 40px; height:40px; background-color: grey; color: white;" *ngIf="IndinRate == 9999 && IndinVolume == 0"><p class="text-start">0%</p></div>
                 <div class="circless text-center" style="border: 1px solid; padding: 5px; width: 40px; height:40px; background-color: green; color: white;" *ngIf="IndinRate == 9999 && IndinVolume > 0"><p class="text-start">0%</p></div>
                 <div class="circless text-center" style="border: 1px solid; padding: 5px; width: 40px; height:40px; background-color: green; color: white;" *ngIf="IndinRate ==0 && IndinVolume > 0"><p class="text-start">{{IndinRate }}%</p></div>
                  <div class="circless text-center" style="border: 1px solid; padding: 5px; width: 40px; height:40px; background-color: green; color: white;" *ngIf="IndinRate > 0 && IndinRate < 40 && IndinVolume > 0"><p class="text-start">{{IndinRate }}%</p></div>
                  <div class="circless text-center" style="padding: 5px; width: 40px; height:40px; background-color: yellow; color: black;" *ngIf="IndinRate > 50 && IndinRate < 70"><p class="text-start">{{IndinRate }}%</p></div>
                  <div class="circless text-center" style="border: 2px solid; padding: 5px; width: 40px; height:40px; background-color: red; color: white;" *ngIf="IndinRate > 70 && IndinRate < 100"><p class="text-start">{{IndinRate }}%</p></div>
                  <div class="circless text-center" style="border: 2px solid; padding: 5px; width: 40px; height:40px; background-color: red; color: white;" *ngIf="IndinRate > 69 && IndinRate < 71 "><p class="text-start">{{IndinRate }}%</p></div>
                  <div class="circless text-center blink-bg"  style="border: 2px solid; padding: 5px; width: 40px; height:40px; color: white;" *ngIf="IndinRate > 99 && IndinRate < 101"><p class="text-center">{{IndinRate }}%</p></div>
                  
                  </small>
                </div>
              </div>
              <div class="col-md-6 blockss text-left">
                
                <div class="align-items-end">
                <small>
                 <div class="text-center" style="padding: 5px; width: 40px;  color: black;"><p class="text-start" style="color: darkcyan;"><strong>OUT</strong></p></div>
                 <div class="circless text-center" style="border: 1px solid; padding: 5px; width: 40px; height:40px; background-color: green; color: white;" *ngIf="IndoutRate == 0 && IndoutVolume > 0"><p class="text-start">{{IndoutRate }}%</p></div>
                 <div class="circless text-center" style="border: 1px solid; padding: 5px; width: 40px; height:40px; background-color: grey; color: white;" *ngIf="IndoutRate == 9999 && IndoutVolume ==0 "><p class="text-start">0%</p></div>
                 <div class="circless text-center" style="border: 1px solid; padding: 5px; width: 40px; height:40px; background-color: green; color: white;" *ngIf="IndoutRate == 9999 && IndoutVolume > 0"><p class="text-start">0%</p></div>
                  <div class="circless text-center" style="border: 1px solid; padding: 5px; width: 40px; height:40px; background-color: green; color: white;" *ngIf="IndoutRate > 0 && IndoutRate < 40 && IndoutVolume > 0"><p class="text-start">{{IndoutRate }}%</p></div>
                  <div class="circless text-center" style=" padding: 5px; width: 40px; height:40px; background-color: yellow; color: black;" *ngIf="IndoutRate > 50 && IndoutRate < 70"><p class="text-start">{{IndoutRate }}%</p></div>
                  <div class="circless text-center" style="border: 2px solid; padding: 5px; width: 40px; height:40px; background-color: red; color: white;" *ngIf="IndoutRate > 69 && IndoutRate < 71 "><p class="text-start">{{IndoutRate }}%</p></div>
                  <div class="circless text-center" style="border: 2px solid; padding: 5px; width: 40px; height:40px; background-color: red; color: white;" *ngIf="IndoutRate > 70 && IndoutRate < 100"><p class="text-start">{{IndoutRate }}%</p></div>
                  <div class="circless text-center blink-bg"  style="border: 2px solid; padding: 5px; width: 40px; height:40px; color: white;" *ngIf="IndoutRate > 99 && IndoutRate < 101"><p class="text-start">{{IndoutRate }}%</p></div>
                </small>
              </div>
            </div>
            
            </div>
            
          </div>
        </div>
      </div>
      <div class="card-footer" style="padding: 2px !important;color:darkcyan;margin-top: 5px !important;">
        <div class="row">
          
          <div class="col-md-12"><p class="text-center"><strong>Vol: In: {{IndinVolume}} | Out: {{IndoutVolume}}</strong></p></div>
        </div>
      </div>
    </div>
    
    <div class="card shadow rounded" style="border: 2px solid; border-color: darkgray;overflow: hidden; " *ngFor="let rows of row" (click)="onSelect(rows.bankName,rows.bankLogo,rows.bankCode,basicModal)">
      <!--<div class="card-header d-flex justify-content-center" style="margin-bottom: 0px !important; margin-top:-30px !important; color:black; " >
        
        
      </div>-->
      <div class="card-body" style="margin-top: 0px !important; padding: 2px !important;margin-bottom:0px !important;">

        <div class="row">
          <div class="col-lg-3 text-start" align="left"><img [src]="rows.bankLogo" height="40" width="40" class="rounded-circle image z-depth-2 border"  /></div>
          <div class="col-lg-9">
            <div class="row">
              <div class="col-md-12 text-center" ><strong>{{rows.bankName | uppercase}}</strong></div>
            </div>
            <div class="row" style="padding:5px !important" >
              <!--<div class="col-md-4 blockss">
                <small>Vol.</small>
                <p class="text-start"><small>In:{{rows.inVolume}}</small></p>
                <p class="text-start"><small>Out:{{rows.outVolume}}</small></p>
                
                
       
              </div>-->
              
               <div class="col-md-6 blockss" style="margin-right: -20px !important;">

                
                <!--<div class="align-items-end"><small>IN</small></div>-->
                <div class="align-items-end">
                <small>
                 <!--<p class="text-center"><strong>IN:</strong></p>-->
                 <div class="text-center" style="padding: 5px; width: 40px;  color: black;"><p class="text-start" style="color: darkcyan;"><strong>IN</strong></p></div>
                 <div class="circless text-center" style="border: 1px solid; padding: 5px; width: 40px; height:40px; background-color: grey; color: white;" *ngIf="rows.inRate == 9999 && rows.inVolume == 0"><p class="text-start">0%</p></div>
                 <div class="circless text-center" style="border: 1px solid; padding: 5px; width: 40px; height:40px; background-color: green; color: white;" *ngIf="rows.inRate == 9999 && rows.inVolume > 0"><p class="text-start">0%</p></div>
                 <div class="circless text-center" style="border: 1px solid; padding: 5px; width: 40px; height:40px; background-color: green; color: white;" *ngIf="rows.inRate ==0 && rows.inVolume > 0"><p class="text-start">{{rows.inRate }}%</p></div>
                  <div class="circless text-center" style="border: 1px solid; padding: 5px; width: 40px; height:40px; background-color: green; color: white;" *ngIf="rows.inRate > 0 && rows.inRate < 40 && rows.inVolume > 0"><p class="text-start">{{rows.inRate }}%</p></div>
                  <div class="circless text-center" style="padding: 5px; width: 40px; height:40px; background-color: yellow; color: black;" *ngIf="rows.inRate > 50 && rows.inRate < 70"><p class="text-start">{{rows.inRate }}%</p></div>
                  <div class="circless text-center" style="border: 2px solid; padding: 5px; width: 40px; height:40px; background-color: red; color: white;" *ngIf="rows.inRate > 70 && rows.inRate < 100"><p class="text-start">{{rows.inRate }}%</p></div>
                  <div class="circless text-center" style="border: 2px solid; padding: 5px; width: 40px; height:40px; background-color: red; color: white;" *ngIf="rows.inRate > 69 && rows.inRate < 71 "><p class="text-start">{{rows.inRate }}%</p></div>
                  <div class="circless text-center blink-bg"  style="border: 2px solid; padding: 5px; width: 40px; height:40px; color: white;" *ngIf="rows.inRate > 99 && rows.inRate < 101"><p class="text-center">{{rows.inRate }}%</p></div>
                  
                  </small>
                </div>
              </div>
              <div class="col-md-6 blockss text-left">
                <!--<div class="align-items-end"><small>OUT</small></div>-->
                <div class="align-items-end">
                <small>
                 <!--<p class="text-center"><strong>OUT:</strong></p>-->
                 <div class="text-center" style="padding: 5px; width: 40px;  color: black;"><p class="text-start" style="color: darkcyan;"><strong>OUT</strong></p></div>
                 <div class="circless text-center" style="border: 1px solid; padding: 5px; width: 40px; height:40px; background-color: green; color: white;" *ngIf="rows.outRate == 0 && rows.outVolume > 0"><p class="text-start">{{rows.outRate }}%</p></div>
                 <div class="circless text-center" style="border: 1px solid; padding: 5px; width: 40px; height:40px; background-color: grey; color: white;" *ngIf="rows.outRate == 9999 && rows.outVolume ==0 "><p class="text-start">0%</p></div>
                 <div class="circless text-center" style="border: 1px solid; padding: 5px; width: 40px; height:40px; background-color: green; color: white;" *ngIf="rows.outRate == 9999 && rows.outVolume > 0"><p class="text-start">0%</p></div>
                  <div class="circless text-center" style="border: 1px solid; padding: 5px; width: 40px; height:40px; background-color: green; color: white;" *ngIf="rows.outRate > 0 && rows.outRate < 40 && rows.outVolume > 0"><p class="text-start">{{rows.outRate }}%</p></div>
                  <div class="circless text-center" style=" padding: 5px; width: 40px; height:40px; background-color: yellow; color: black;" *ngIf="rows.outRate > 50 && rows.outRate < 70"><p class="text-start">{{rows.outRate }}%</p></div>
                  <div class="circless text-center" style="border: 2px solid; padding: 5px; width: 40px; height:40px; background-color: red; color: white;" *ngIf="rows.outRate > 69 && rows.outRate < 71 "><p class="text-start">{{rows.outRate }}%</p></div>
                  <div class="circless text-center" style="border: 2px solid; padding: 5px; width: 40px; height:40px; background-color: red; color: white;" *ngIf="rows.outRate > 70 && rows.outRate < 100"><p class="text-start">{{rows.outRate }}%</p></div>
                  <div class="circless text-center blink-bg"  style="border: 2px solid; padding: 5px; width: 40px; height:40px; color: white;" *ngIf="rows.outRate > 99 && rows.outRate < 101"><p class="text-start">{{rows.outRate }}%</p></div>
                </small>
              </div>
            </div>
            
            </div>
            
          </div>
        </div>
       
        
        
       
        
        
      </div>
      <div class="card-footer" style="padding: 2px !important;color:darkcyan;margin-top: 5px !important;">
        <div class="row">
          
          <div class="col-md-12"><p class="text-center"><strong>Vol: In: {{rows.inVolume}} | Out: {{rows.outVolume}}</strong></p></div>
        </div>
      </div>
    </div>
  
  </ul>
</div>

<ng-template #basicModal let-modal>
  
  <div class="modal-header">
    
    <div class="row">                
      <div class="col-lg-3" valign="top" ><img [src]="bankLogo" height="60" width="60" class="rounded-circle z-depth-2" /></div>
      <div class="col-lg-9" valign="top" style="padding-left: 30px !important;"><strong>{{bankName}}</strong><p><small><strong>{{bankCode}}</strong></small></p></div>
      </div>
    <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">


    
    <div class="card">
      <div class="card-body">
        <div *ngIf="blackout2" class="text-center" style="position:fixed;  top:0; left:0; bottom:0; right:0;background:rgba(0,0,0,.5);margin: auto">
          <h3>Loading...</h3>
        </div>
        
        <ul ngbNav #defaultNav="ngbNav" [(activeId)]="defaultNavActiveId" class="nav-tabs">
          <li [ngbNavItem]="1">
            <a ngbNavLink>INWARDS</a>
            <ng-template ngbNavContent>
              <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="margin-top: 5px; margin-bottom: 2px !important;">
                <h5 class="modal-title" style="color: darkcyan;">INWARDS TRANSACTIONS LAST 5 MINUTES {{LabelLastFive}}</h5>
                <div class="card-body" style="padding-left: 5px !important;">
                  <div class="row">                
                  <div class="col-lg-4 text-start">
                  <table class="table" style="font-size: small;">
                    <tr><td colspan="2"><span style="color: darkcyan;">Inwards</span></td></tr>
                    <tr><td>Txn Vol.</td><td>{{InVollast5}}</td></tr>
					<!--<tr><td>Success</td><td>{{InSuccessLast5}}</td></tr>-->
          <tr><td>Success</td><td>{{In5Cnt}}</td></tr>
                    <!--<tr><td>Failed</td><td>{{InFailedLast5}}</td></tr>-->
                    <tr><td>Failed</td><td>{{InVollast5-In5Cnt}}</td></tr>
                    <tr><td class="text-start">Success %</td><td class="text-start">Failed %</td></tr>
                    <tr><td>
					<div class="circless text-center" style="border: 1px solid; padding: 5px; width: 80px; height:80px; background-color: green; color: white;"><p class="text-start">{{In5SuccessRate | number : '1.2-2'}}</p></div>			
					
					</td><td>
					<div class="circless text-center" style="border: 1px solid; padding: 5px; width: 80px; height:80px; background-color: red; color: white;"><p class="text-start">{{In5FailureRate | number : '1.2-2'}}</p></div>					
					
					</td></tr>
    
                  </table>
                  </div>
                  <div class="col-lg-8">
                    <table class="table">
                      <tr><td class="col-md-3" style="white-space:normal; word-wrap: break-word;min-width: 160px;max-width: 160px;">Status</td><td class="col-md-3">Volume</td></tr>
                    <tr *ngFor="let d of Last5Summary"><td>{{d.CodeName}} - ({{d.Code}})</td><td>{{d.CodeCount}}</td></tr> 
                    </table>
                                 
                  </div>
                  
                  </div>
                </div>
              </div>
              <!-- Daily Inwards-->
              <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="margin-top: 5px; margin-bottom: 2px !important;">
                <h5 class="modal-title" style="color: darkcyan;">DAILY INWARDS TRANSACTIONS FOR {{DateLabel}}</h5>
                <div class="card-body" style="padding-left: 5px !important;">
                  <div class="row">                
                  <div class="col-lg-4 text-start">
                  <table class="table" style="font-size: small;">
                    <tr><td colspan="2"><span style="color: darkcyan;">Inwards</span></td></tr>
                    <tr><td>Txn Vol.</td><td>{{InVolDaily}}</td></tr>
					<!--<tr><td>Success</td><td>{{InSuccessLast5}}</td></tr>-->
          <tr><td>Success</td><td>{{InDailySuccessCnt}}</td></tr>
                    <!--<tr><td>Failed</td><td>{{InFailedDaily}}</td></tr>-->
                    <tr><td>Failed</td><td>{{InVolDaily-InDailySuccessCnt}}</td></tr>
                    <tr><td class="text-start">Failure %</td><td class="text-start">Success %</td></tr>
                    <tr><td>
					<div class="circless text-center" style="border: 1px solid; padding: 5px; width: 80px; height:80px; background-color: red; color: white;"><p class="text-start">{{InDailyFailureRate | number : '1.2-2'}}</p></div>
					
					</td><td>
					<div class="circless text-center" style="border: 1px solid; padding: 5px; width: 80px; height:80px; background-color: green; color: white;"><p class="text-start">{{InDailySuccessRate | number : '1.2-2'}}</p></div>
					</td></tr>
    
                  </table>
                  </div>
                  <div class="col-lg-8">
                    <table class="table">
                      <tr><td class="col-md-3" style="white-space:normal; word-wrap: break-word;min-width: 160px;max-width: 160px;">Status</td><td class="col-md-3">Volume</td></tr>
                    <tr *ngFor="let e of DailySummary"><td>{{e.CodeName}} - ({{e.Code}})</td><td>{{e.CodeCount}}</td></tr> 
                                 </table>
                  </div>
                  
                  </div>
                </div>
              </div>
              <!-- End Daily Inwards-->
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>OUTWARDS</a>
            <ng-template ngbNavContent>
              <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="margin-top: 5px; margin-bottom: 2px !important;">
                <h5 class="modal-title" style="color: darkcyan;">OUTWARDS TRANSACTIONS LAST 5 MINUTES {{LabelLastFive}}</h5>
                <div class="card-body" style="padding-left: 5px !important;">
                  <div class="row">                
                  <div class="col-lg-4 text-start">
                  <table class="table" style="font-size: small;">
                    <tr><td colspan="2"><span style="color: darkcyan;">Outwards</span></td></tr>
                    <tr><td>Txn Vol.</td><td>{{OutVollast5}}</td></tr>
                    <!--<tr><td>Successfull</td><td>{{OutSuccessLast5}}</td></tr>-->
                    <tr><td>Successfull</td><td>{{Out5Cnt}}</td></tr>
                    <!--<tr><td>Failed</td><td>{{OutFailedLast5}}</td></tr>-->
                    <tr><td>Failed</td><td>{{OutVollast5-Out5Cnt}}</td></tr>
					
                    <tr><td class="text-start">Failure %</td><td class="text-start">Successful %</td></tr>
                    <tr><td>
					<div class="circless text-center" style="border: 1px solid; padding: 5px; width: 80px; height:80px; background-color: red; color: white;"><p class="text-start">{{Out5FailureRate | number : '1.2-2'}}</p></div>
					
					</td><td>
					<div class="circless text-center" style="border: 1px solid; padding: 5px; width: 80px; height:80px; background-color: green; color: white;"><p class="text-start">{{Out5SuccessRate | number : '1.2-2'}}</p></div>
					
					</td></tr>
    
                  </table>
                  </div>
                  <div class="col-lg-8">
                    <table class="table">
                      <tr><td class="col-md-3" style="white-space:normal; word-wrap: break-word;min-width: 160px;max-width: 160px;">Status</td><td class="col-md-3">Volume</td></tr>
                    <tr *ngFor="let f of Last5SummaryOut"><td>{{f.CodeName}}-({{f.Code}})</td><td>{{f.CodeCount}}</td></tr>
                    
                    </table>
                                 
                  </div>
                  
                  </div>
                </div>
              </div>
              <!--Daily Outwards-->
              <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="margin-top: 5px; margin-bottom: 2px !important;">
                <h5 class="modal-title" style="color: darkcyan;">DAILY OUTWARDS TRANSACTIONS FOR {{DateLabel}} </h5>
                <div class="card-body" style="padding-left: 5px !important;">
                  <div class="row">                
                  <div class="col-lg-4 text-start">
                  <table class="table" style="font-size: small;">
                    <tr><td colspan="2"><span style="color: darkcyan;">Outwards</span></td></tr>
                    <tr><td>Txn Vol.</td><td>{{OutVolDaily}}</td></tr>
                    <!--<tr><td>Successful</td><td>{{OutSuccessDaily}}</td></tr>-->
                    <tr><td>Successful</td><td>{{OutDailySuccessCnt}}</td></tr>
                    <!--<tr><td>Failed</td><td>{{OutFailedDaily}}</td></tr>-->
                    <tr><td>Failed</td><td>{{OutVolDaily-OutDailySuccessCnt}}</td></tr>
					
                    <tr><td class="text-start">Failure %</td><td class="text-start">Successful %</td></tr>
                    <tr><td>
					<div class="circless text-center" style="border: 1px solid; padding: 5px; width: 80px; height:80px; background-color: red; color: white;"><p class="text-start">{{OutDailyFailureRate | number : '1.2-2'}}</p></div>
					
					</td><td>
					<div class="circless text-center" style="border: 1px solid; padding: 5px; width: 80px; height:80px; background-color: green; color: white;"><p class="text-start">{{OutDailySuccessRate | number : '1.2-2'}}</p></div>
					</td></tr>
    
                  </table>
                  </div>
                  <div class="col-lg-8">
                    <table class="table">
                      <tr><td class="col-md-3" style="white-space:normal; word-wrap: break-word;min-width: 160px;max-width: 160px;">Status</td><td class="col-md-3">Volume</td></tr>
                    <tr *ngFor="let g of DailySummaryOut"><td>{{g.CodeName}} - ({{g.Code}})</td><td>{{g.CodeCount}}</td></tr>
                    
                    </table>
                                 
                  </div>
                  
                  </div>
                </div>
              </div>
              <!--End Daily OUTWARDS-->
            </ng-template>
          </li>
          <li [ngbNavItem]="3">
            <a ngbNavLink>CHART VOLUME RATE</a>
            <ng-template ngbNavContent>
              <div class="card">
                <div class="card-body">
                  <h6 class="card-title">VOLUME</h6>
          
                  <canvas baseChart
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins">
                  </canvas>
          
                </div>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="4">
            <a ngbNavLink>FAILURE RATE</a>
            <ng-template ngbNavContent>
              <div class="card">
                <div class="card-body">
                  <h6 class="card-title">FAILURE RATE</h6>
          
                  <canvas baseChart
                    [datasets]="lineChartData1"
                    [labels]="lineChartLabels1"
                    [options]="lineChartOptions1"
                    [colors]="lineChartColors1"
                    [legend]="lineChartLegend1"
                    [chartType]="lineChartType1"
                    [plugins]="lineChartPlugins1">
                  </canvas>
          
                </div>
              </div>
            </ng-template>
          </li>
        </ul>
        
        <div [ngbNavOutlet]="defaultNav" class="border border-top-0 p-3"></div>
        <p class="mt-2">Active: {{ defaultNavActiveId }}</p>
        
      
        
      </div>

    </div>
  </div>
  <div class="modal-footer">
    
  </div>
</ng-template>
<div *ngIf="blackout" class="text-center" style="position:fixed;  top:0; left:0; bottom:0; right:0;background:rgba(0,0,0,.5);margin: auto">
  <h3>Loading...</h3>
</div>



