/* You can add global styles to this file, and also import other style files */
.bbx {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}
.blink-bg {
    color: #fff;
    animation: blinkingBackground 2s infinite;
    //background: red;
    //border-radius: 100px;
    //height: 50px;
    //font-weight: bold;
    //width: 50px;
    //display: table;
    //margin: 0px auto;
}
.blink-border{

color: #fff;
    animation: blinkingBorderBackground 2s infinite;
}
#circles {
    width: 70px;
    height: 70px;
    background: red;
    border-radius: 50%
  }


@keyframes blinkingBackground {
    0% {
        background-color: red;
    }

    25% {
        background-color: grey;
    }

    50% {
        background-color: red;
    }

    75% {
        background-color: grey;
    }

    100% {
        background-color: red;
    }
}

@keyframes blinkingBorderBackground {
    0% {
        border-color: red;
    }

    25% {
        border-color: grey;
    }

    50% {
        border-color: red;
    }

    75% {
        border-color: grey;
    }

    100% {
        border-color: red;
    }
}

.circle {
    background: red;
    border-radius: 100px;
    color: white;
    height: 50px;
    font-weight: bold;
    width: 50px;
    display: table;
    margin: 0px auto;
    padding: 10px;
}
.circle p {
    vertical-align: middle;
    display: table-cell;
}

.circle_green {
    background: green;
    border-radius: 100px;
    color: white;
    height: 50px;
    font-weight: bold;
    width: 50px;
    display: table;
    margin: 0px auto;
}
.circle_green p {
    vertical-align: middle;
    display: table-cell;
}

.circle_yellow {
    background: yellow;
    border-radius: 100px;
    color: white;
    height: 50px;
    font-weight: bold;
    width: 50px;
    display: table;
    margin: 0px auto;
}
.circle_yellow p {
    vertical-align: middle;
    display: table-cell;
}

.round-circles
    {
    width:300px;
    height:300px;
    border-radius:250px;
    font-size:30px;
    color: white;
    line-height:50px;
    text-align:center;
    
    }

    .ng-valid[required], .ng-valid.required{
        border-left: 5px solid #42A948;
        }
        
        .ng-invalid:not(form){
        border-left: 5px solid #a94442;
        }

        .brand-image{
            float:left;
            line-height:.8;
            margin-left:.8rem;
            margin-right:.5rem;
            margin-top:-3px;
            max-height:33px;
           
            margin-bottom:-.25rem;
           
        }



        .blockss {
            //border: 1px solid red;
            text-align: center;
            vertical-align: middle;
        }
        .circless {
           // background: red;
            border-radius: 200px;
            color: white;
            height: 200px;
            font-weight: bold;
            width: 200px;
            display: table;
            //margin: 20px auto;
        }
        .circless p {
            vertical-align: middle;
            display: table-cell;
        }

        .hover_color_bubble {
            //position: absolute;
            background: rgb(54 81 207 / 15%);
            //width: 100rem;
            //height: 100rem;
            left: 0;
            right: 0;
           //z-index: -1;
            top: 16rem;
            border-radius: 50%;
            transform: rotate(360deg);
            left: -18rem;
            transition: 0.7s;
          }

          mwl-gauge {
            width: 150px;
            height: 150px;
            display: block;
            padding: 10px;
          }
          mwl-gauge > .gauge > .dial {
            stroke: #eee;
            stroke-width: 2;
            fill: rgba(0, 0, 0, 0);
          }
          mwl-gauge > .gauge > .value {
            stroke: rgb(47, 227, 255);
            stroke-width: 2;
            fill: rgba(0, 0, 0, 0);
          }
          mwl-gauge > .gauge > .value-text {
            fill: rgb(47, 227, 255);
            font-family: sans-serif;
            font-weight: bold;
            font-size: 1em;
          }


         